<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970545630967-c788oqlq244pi4lsve3li7q5ne5uu1lh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970545630967-c788oqlq244pi4lsve3li7q5ne5uu1lh</string>
	<key>API_KEY</key>
	<string>AIzaSyA1C9lKb1fEkOimgtByNpgZTKcyUXisEjE</string>
	<key>GCM_SENDER_ID</key>
	<string>970545630967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finnweiler.timetable-iphone</string>
	<key>PROJECT_ID</key>
	<string>stundenplan-kgn</string>
	<key>STORAGE_BUCKET</key>
	<string>stundenplan-kgn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970545630967:ios:55c0ae81cfc5b717e90df2</string>
	<key>DATABASE_URL</key>
	<string>https://stundenplan-kgn.firebaseio.com</string>
</dict>
</plist>